[user]
	name = Wangzongcan
	email = wang.zongcan@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	st = status
	co = checkout
	ci = commit
	df = diff
	br = branch
[core]
	editor = vim
