# system
alias ls="ls -G"
alias l="ls -hl"
alias ll="l -a"

# ruby
alias be="bundle exec"
alias rspec="be rspec"

# tmux
alias ta="tmux attach-session"
alias tn="tmux -u new -s $(basename $PWD)"

# emacs
alias e="emacsclient -t -a ''"
